.container {
  max-width: 640px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 80px auto 40px auto;
  padding: 40px;
  border-radius: 24px;
}

h2 {
  line-height: 1.4;
  margin: 0;
}

p {
  margin: 4px 0;
}

small {
  font-size: 14px;
  justify-content: flex-start;
}

.cities a {
  padding-right: 24px;
  text-decoration: none;
}

form {
  margin: 24px 0;
}

.input-field {
  width: 75%;
}

.temperature {
  font-size: 64px;
}

.city-info {
  display: block;
}

.tempearture-now {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.daily-forecast {
  text-align: center;
}

.week-forecast {
  display: flex;
  justify-content: space-around;
}

footer {
  font-size: 14px;
}

footer p {
  text-align: center;
}
